.display-view-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%236a11cb" fill-opacity="1" d="M0,160L60,165.3C120,171,240,181,360,202.7C480,224,600,256,720,245.3C840,235,960,181,1080,170.7C1200,160,1320,192,1380,208L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.display-view-title {
  font-size: 2rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 1px;
}

.display-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}

.map-container {
  width: 600px;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.map-container h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
}

.map-container img { 
  /* centrar*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.map-container img:hover {
  transform: scale(1.02);

}

.map-container > div {
  width: 100%;
  height: 100%;
}

.routes-container {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: 362px; /* Ajusta según el tamaño de los elementos */
  overflow-y: auto;
}

.routes-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: left;
}

.routes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.route-item {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
}

.route-item:hover {
  background-color: #f0f8ff;
}

.route-name {
  font-size: 1rem;
  font-weight: 500;
  color: #2980b9;
  margin-right: 10px;
}

.route-start,
.route-end {
  font-size: 0,8rem;
  color: #7f8c8d;
  margin-right: 4px;
  margin-left: 4px;
}
